
.special_modal .modal-content{
  background-color: #2a2d30;
  color: #fff;
}

.modal-title{
  color: #EF761F;
}

.modal-button{
  background-color: #ffc107;

}

.modal-body{
  font-size: 25px;
  margin: 5%;
}

@media screen and (max-width:660px){
  .modal-footer{
    justify-content: center;
    
  }
}