@media (max-width: 768px) {
  .typewriter1, .typewriter2, .typewriter3, .typewriter4 {
    white-space: nowrap;
    overflow: hidden;
    margin: 0.5rem auto;

    border-right: 2px solid rgba(237, 237, 237, 0.9);
  }

  .typewriter1, .typewriter2 {  
    animation: animated-text 2s steps(30, end) 1s 1 normal both,
      animated-cursor 400ms steps(30, end) 8;
  }

  .typewriter2 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  .typewriter3 {
    animation: animated-text 2s steps(30, end) 1s 1 normal both,
      animated-cursor 900ms steps(30, end) infinite;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
  }

  .typewriter4 {  
    animation: animated-text 6s steps(30, end) 1s 1 normal both,
      animated-cursor 900ms steps(30, end) infinite;
  }

  @keyframes animated-cursor {
    from {
      border-right-color: rgba(237, 237, 237, 0.9);
    }
    to {
      border-right-color: rgba(239, 118, 31, 0.8);
    }
  }
  
  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 29rem;
    }
  }
}